<style>
		.a{
			font-size: 20px;
			font-variant: small-caps;
			color: green;
		}
		.b{
			font-size: 30px;
			color: red;
		}
		.hello{
				height: 200px;
				width: 200px;
				background-color: blue;
				border: 1px solid: #ff4f81; 
		}
	</style>